# Computer Department Student Switch
en
config t
interface GigabitEthernet0/1
description Trunk to Core Switch
switchport mode trunk
switchport trunk allowed vlan 10
exit

int range FastEthernet0/1 - 24
description CCTV
switchport mode access
switchport access vlan 10
exit

exit
write memory

# Computer Department Staff Switch
en
config t
interface GigabitEthernet0/1
description Trunk to Core Switch
switchport mode trunk
switchport trunk allowed vlan 11
exit

int range FastEthernet0/1 - 20
description Admin PC
switchport mode access
switchport access vlan 11
exit

int range FastEthernet0/1 - 24
description Admin Printer
switchport mode access
switchport access vlan 11
exit

exit
write memory

# Electrical Engineering Student Switch
en
config t
interface GigabitEthernet0/1
description Trunk to Core Switch
switchport mode trunk
switchport trunk allowed vlan 20
exit

int range FastEthernet0/1 - 24
description Student PCs
switchport mode access
switchport access vlan 20
exit

exit
write memory

# Electrical Engineering Staff Switch
en
config t
interface GigabitEthernet0/1
description Trunk to Core Switch
switchport mode trunk
switchport trunk allowed vlan 21
exit

int range FastEthernet0/1 - 20
description Staff PCs
switchport mode access
switchport access vlan 21
exit

int range FastEthernet0/1 - 24
description Staff Printer
switchport mode access
switchport access vlan 21
exit

exit
write memory

# Civil Engineering Student Switch
en
config t
interface GigabitEthernet0/1
description Trunk to Core Switch
switchport mode trunk
switchport trunk allowed vlan 30
exit

int range FastEthernet0/1 - 24
description Student PCs
switchport mode access
switchport access vlan 30
exit

exit
write memory

# Civil Engineering Staff Switch
en
config t
interface GigabitEthernet0/1
description Trunk to Core Switch
switchport mode trunk
switchport trunk allowed vlan 31
exit

int range FastEthernet0/1 - 20
description Staff PCs
switchport mode access
switchport access vlan 31
exit

int range FastEthernet0/1 - 24
description Staff Printer
switchport mode access
switchport access vlan 31
exit

exit
write memory

# Mechanical Engineering Student Switch
en
config t
interface GigabitEthernet0/1
description Trunk to Core Switch
switchport mode trunk
switchport trunk allowed vlan 40
exit

int range FastEthernet0/1 - 24
description Student PCs
switchport mode access
switchport access vlan 40
exit

exit
write memory

# Mechanical Engineering Staff Switch
en
config t
interface GigabitEthernet0/1
description Trunk to Core Switch
switchport mode trunk
switchport trunk allowed vlan 41
exit

int range FastEthernet0/1 - 20
description Staff PCs
switchport mode access
switchport access vlan 41
exit

int range FastEthernet0/1 - 24
description Staff Printer
switchport mode access
switchport access vlan 41
exit

exit
write memory

# IDS Student Switch
en
config t
interface GigabitEthernet0/1
description Trunk to Core Switch
switchport mode trunk
switchport trunk allowed vlan 50
exit

int range FastEthernet0/1 - 24
description Student PCs
switchport mode access
switchport access vlan 50
exit

exit
write memory

# IDS Staff Switch
en
config t
interface GigabitEthernet0/1
description Trunk to Core Switch
switchport mode trunk
switchport trunk allowed vlan 51
exit

int range FastEthernet0/1 - 20
description Staff PCs
switchport mode access
switchport access vlan 51
exit

int range FastEthernet0/1 - 24
description Staff Printer
switchport mode access
switchport access vlan 51
exit

exit
write memory

# Administration Switch
en
config t
interface GigabitEthernet0/1
description Trunk to Core Switch
switchport mode trunk
switchport trunk allowed vlan 60
exit

int range FastEthernet0/1 - 24
description Admin PCs
switchport mode access
switchport access vlan 60
exit

exit
write memory

# CCTV Switch
en
config t
interface GigabitEthernet0/1
description Trunk to Core Switch
switchport mode trunk
switchport trunk allowed vlan 70
exit

int range FastEthernet0/1 - 24
description CCTV Cameras
switchport mode access
switchport access vlan 70
exit

exit
write memory