enable
configure terminal

vlan 11
name Computer_Staff
exit
vlan 10
name Computer_Students
exit
vlan 21
name EEE_Staff
exit
vlan 20
name EEE_Students
exit
vlan 31
name Civil_Staff
exit
vlan 30
name Civil_Students
exit
vlan 41
name Mech_Staff
exit
vlan 40
name Mech_Students
exit
vlan 51
name IDS_Staff
exit
vlan 50
name IDS_Students
exit
vlan 60
name Administration
exit
vlan 70
name CCTV
exit


interface GigabitEthernet1/0/1
description Trunk to Router
switchport mode trunk
switchport trunk allowed vlan 10,11,20,21,30,31,40,41,50,51,60,70
exit



interface GigabitEthernet1/0/2
description Trunk to Comp. Eng Student Switch
switchport mode trunk
switchport trunk allowed vlan 10
exit

interface GigabitEthernet1/0/3
description Trunk to Comp. Eng Staff Switch
switchport mode trunk
switchport trunk allowed vlan 11
exit


interface GigabitEthernet1/0/4
description Trunk to EEE Student Switch
switchport mode trunk
switchport trunk allowed vlan 20
exit

interface GigabitEthernet1/0/5
description Trunk to EEE Staff Switch
switchport mode trunk
switchport trunk allowed vlan 21
exit

interface GigabitEthernet1/0/6
description Trunk to Civil Eng Student Switch
switchport mode trunk
switchport trunk allowed vlan 30
exit

interface GigabitEthernet1/0/7
description Trunk to Civil Eng Staff Switch
switchport mode trunk
switchport trunk allowed vlan 31
exit

interface GigabitEthernet1/0/8
description Trunk to Mech Eng Student Switch
switchport mode trunk
switchport trunk allowed vlan 40
exit

interface GigabitEthernet1/0/9
description Trunk to Mech Eng Staff Switch
switchport mode trunk
switchport trunk allowed vlan 41
exit

interface GigabitEthernet1/0/10
description Trunk to IDS Student Switch
switchport mode trunk
switchport trunk allowed vlan 50
exit

interface GigabitEthernet1/0/11
description Trunk to IDS Staff Switch
switchport mode trunk
switchport trunk allowed vlan 51
exit

interface GigabitEthernet1/0/12
description Trunk to Admin Switch
switchport mode trunk
switchport trunk allowed vlan 60
exit

interface GigabitEthernet1/0/13
description Trunk to CCTV Switch
switchport mode trunk
switchport trunk allowed vlan 70
exit
exit

write memory